body {
  background-color: rgb(241, 240, 240);
  color: rgb(207, 119, 119);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  height: 100vh;
}



main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: grid;
  height: 100vp; */

  align-items: center;
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

p,
h2 {
  color: rgb(40, 40, 40);
}

h1 {
  padding: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
h3{font-family: 'Courier New', Courier, monospace;}

#logo-link {
  color: rgb(40, 40, 40);
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: auto;
  padding: 10px;
  position: relative;
  font-style: italic;
}

.navbar {
  display: flex;
  align-items: center;
  background-image: url(/imgs/R.jpg);
  height: 60px;
  width: 100%;
  align-content: center;
  background-repeat: no-repeat;
  text-align: center;
  white-space: wrap;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.295);
}

#cart-nav::after {
  content: "1";
  font-size: 10px;
  text-align: center;
  align-content: center;
  color: #ffffff;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 10px;
  border-radius: 50%;
  background-color: red;

}

.navbar-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 5px;
}

.navbar-list li:nth-child(4) {
  margin-left: auto;
}

ul {
  list-style: none;
  width: fit-content;
  text-align: start;

}

#menu-link {
  text-decoration: none;
  color: rgb(40, 40, 40);
  padding: 10px;
  margin: 10px;
 
}


#menu-link:hover {
  color: rgb(17, 100, 30);
  text-shadow: 2px 2px 50px #ffffff;
}

header h1,
.header-btn {
  padding: 20px;
  width: fit-content;
  display: flex;
}
header p {
  padding: 20px;
  /* width: 80%; */
  display: flex;
}

#header-img {
  width: 90%;
  margin: 5%;
  transition-duration: 1s;
  border-radius: 30px;
}

#header-img:hover {
 
  transform: scale(1.05);
  box-shadow: 0 5px 10px 0 #8e54546c;
}

#first-column {

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  text-align: center;
  align-items: center;
}

#second-column {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: fit-content;
}

@media (max-width: 760px) {
  header {
    width: 100%;
    flex-direction: column;
  }
  #first-column,
  #second-column {
    width: 100%;
  }
  #hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .section div ul {
    justify-content: center;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    width: fit-content;
  }
}

header {
  text-align: start;
  align-items: center;
  display: flex; 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  /* float: left; */
  width: 94%;
  margin: 3% 3% 0 3%;
  justify-content: center;
}

#shop-btn {
  background-color: white;
  display: inline-block;
  color: rgb(40, 40, 40);
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  width: auto;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
}

#shop-btn:hover {
  border: 1px solid #479b2b;
  color: #479b2b;
  cursor: pointer;
}

#hero-section {
  background-color: #ffffff;
  border-radius: 10px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 10px;
}

#img-price {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* products */
.product {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  width: 200px;
  /* height: 300px; */
  justify-content: center;
  text-align: center;
}
/* products */

.product:hover {
  box-shadow: 0px 0px 30px 2px #a1a1a158;
}

.contianer-form {
  display: flex;
  width: 96%;
  margin-left: 2%;
  height: 100vh;
}

.form-item {
  width: 100%;
  height: 550px;
  max-width: 820px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.contact {
  background-color: rgb(207, 119, 119);
  color: #fff;
  font-size: x-large;
}
submit-form {
  color: rgb(207, 119, 119);
  
}

form {
  display: flex;
  color: #5e5e5e;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-items: center;
  align-content: center;
}

input {
  width: 50%;
  margin: 20px;
  justify-content: space-evenly;
}

#submit-btn {
  width: 20%;
  justify-self: center;
  align-content: center;
  border: 1px solid rgb(207, 119, 119);
  border-radius: 10px;
  background-color: #fff;
  width: 50%;
  padding: 5px;

}

#submit-btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(170, 132, 132);
}

/* about us */

.about-us-main section {
  width: 100%;
}

.about-us-header p {
  border-radius: 50px 2px 50px 2px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(207, 119, 119);
  color: #ffffff;
  box-shadow: 0px 0px 20px 5px#a85d5d inset;
}

.about-us-header p:hover {
  box-shadow: 0px 5px 30px 5px#4b3a3a;
  transform: translateY(-2px);
}

.about-us-header {
  height: fit-content;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
}

.about-us-header div img {
  height: 300px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

#stupid-img {
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-radius: 50px 12px 50px 12px;
}

.team-container {
  margin: 2%;
  width: 96%;
  justify-content: space-around;
  perspective: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.box:hover {
  transform: translateX(-100%) rotateY(-180deg);
}

.box .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  backface-visibility: hidden;
}

.box .front {
  height: 100%;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: start;
}

.box .back {
  transform: rotateY(180deg);
  border-radius: 10px;
}

.face img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
/* contact us */

footer {
  position: absolute;
  /* bottom: 0; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 100%;
}
